
        form { 
            margin: 10% 20%;
                } 
        
            .flex {
                display: inline-flex;
            }
        
            form i {
            margin-left: -30px;
            cursor: pointer;
            }
        
            .flexs {
                display: flex;
                justify-content: space-between;
            }
        
            .tbtn {
                cursor: none;
                display: flex;
            }
        
            .labels {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
            }